body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('bg.jpg');
}

.container{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(1, 14, 15);
    box-shadow: 0 0 10px rgba(250, 248, 248, 0.952);
    color: white;
}

input{
    padding: 10px;
    width:60%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#togglePassword{
    cursor: pointer;
    font-size:20 px;
    margin-left: -40px;
    position: relative;
}


button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color: #45a049;
}

#result{
    font-weight: bold;
    color:green;
}